ss\:installlink {
	display: none;
}

ss\:installlink.show {
	display: block;
	text-align: center;
}

ss\:installlink .button {
	display: inline-block;
	padding: 0.1em 1.5em;
	margin: 0.5em;
	border: 0.15em solid green;
	border-radius: 0.5em 0.5em;
	color: darkgreen;
	background-color: #f5fff5;
	font-size: x-large;
	font-weight: bold;
	cursor: pointer;
}

ss\:installlink .button:hover {
	background-color: #efe;
}

ss\:installlink .button [data-id='icon_img'] {
	height: 1em;
	vertical-align: middle;
	margin-right: 0.25em;
}
