tpdc\:menu {
	display: inline-table;
	border-bottom: 1px dashed silver;
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-family: "Comic Sans MS", cursive, monospace;
}

tpdc\:menu a {
	display: inline-block;
	border: 1px solid blue;
	background-color: #eee;
	padding: 0.15em;
	font-weight: bold;
}

tpdc\:menu a:hover, tpdc\:menu a:active {
	border-color: red;
}
