tpdc\:menu {
	display: inline-table;
	border-bottom: 1px dashed silver;
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-family: monospace;
	width: 100%;
}

tpdc\:menu a {
	display: inline-block;
	border: 1px solid blue;
	background-color: #ddd;
	padding: 0.5em 0.75em;
	font-weight: bold;
	margin-right: -1px;
}

tpdc\:menu a:hover, tpdc\:menu a:active {
	background-color: white;
	color: red;
}
