<!doctype html>
<html xmlns:tpdc="https://www.thepointless.com/ns/tpdc">
	<head>
		<title>${title || "thepointless.com"}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="google-site-verification" content="zYKsu_Prv58mFQyRGJA3j1sDsQzAytFhE2SjFMaQk14" />
		${metatags}
	</head>
	<body>
		<h2>${title || "thepointless.com"}</h2>
		<div>
			${body}
		</div>
	</body>
</html>
