<!doctype html>
<html xmlns:tpdc="https://www.thepointless.com/ns/tpdc">
	<head>
		<title>${title + " - thepointless.com"}</title>
		<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="google-site-verification" content="zYKsu_Prv58mFQyRGJA3j1sDsQzAytFhE2SjFMaQk14" />
		${metatags}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script>
			if (location.host === 'www.thepointless.com') {
				const ga_script = document.createElement('script');
				ga_script.src = "https://www.googletagmanager.com/gtag/js?id=UA-920576-1";
				document.head.appendChild(ga_script);
				window.dataLayer = window.dataLayer || [];
				window.gtag = function(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-920576-1');
			} else {
				window.gtag = function(...args) {
					console.log('gtag()', args);
				};
			}
		</script>
		<script src='/layouts/default.js?v=${BUILD_ID}'></script>
	</head>
	<body>
		<div id='container'>
			<tpdc:fork></tpdc:fork>
			<div id='header'>
				<h1><a href='/'>thepointless.com</a> / ${title || "thepointless.com"}</h1>
			</div>
			<div class='navbar'><tpdc:menu></tpdc:menu></div>
			<div id='content'>
				${body}
			</div>
			<tpdc:teaser></tpdc:teaser>
		</div>
		<div id='footer'>
			<div id='sub-footer'>
				<p>This page was constructed in <tpdc:pagebuildtime></tpdc:pagebuildtime>.</p>
				<p>(Made possible by <i>The Patriarchy</i><sup>&trade;</sup>.)</p>
				<p>
					<tpdc:copyright></tpdc:copyright>
					| <a href='/terms.html'>terms</a>
					| <a href='/careers.html'>careers</a>
					| <a href='/contribute.html'>contribute code</a>
					| <a href='/about.html'>about</a>
				</p>
			</div>
		</div>
	</body>
</html>
